@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Main layout */

* {
    color: rgb(248, 242, 242) !important;
}

body {
    font-family: 'Kanit', sans-serif;
    background: #352F44;
}

a {
    text-decoration: underline;
}

.header {
    margin-top: 1rem;
}

.header a {
    text-decoration: none;
}

.footer {
    background: #352F44;

    img#ferris {
        width: 100px;
    }

    #ferris-container {
        display: inline-block;
        margin: 0 auto;
    }

    #ferris-container:hover {
        transform: rotate(5deg);
    }
}

#main-container {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
}

.column {
    /* The default padding on columns makes it hard to align threm when they're nested */
    padding: 0;
}

/* Custom interface stuff */

/* The mini panels e.g. the one around the puzzle board, or around each panel in the sidebar */
.bt-panel {
    background: #2A2537;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* Sidebars (e.g. on the puzzle interface) */
.sidebar {
    display: flex;
    flex-direction: column;
}

/* Index page */
#tactics {
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

#tactics .stats {
    margin: 0 auto;
    margin-bottom: 2rem;
}

#tactics .stats > caption {
    font-size: 24pt;
    margin-bottom: 1rem;
}

#tactics .stats > tbody > tr > th {
    padding-right: 2rem;
    text-align: left;
}

#tactics .stats > tbody > tr > td {
    text-align: center;
}

#tactics a.button {
    background: #416c86;
    text-decoration: none;
    width: 7rem;
}

/* Puzzle interface */

.chessground {
    aspect-ratio: 1;
}

cg-board {
	background-color: #bfcfdd;
}

#board-container {
    position: relative;
}

#promotion-ui {
    /* Disabled by default until it needs showing */
    visibility: hidden;

    /* The promotion ui should completely cover the board, but be disabled by default */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    /* Semi-transparent overlay background that indicates the board is disabled */
    background: rgba(0.0, 0.0, 0.0, 0.5);

    /* Center the promotion pieces panel horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-pieces {
    width: 12rem;
    height: 12rem;
    gap: 0.5rem;

    /* Disabled by default until it needs showing (because there's one for white and one for black). */
    display: none;

    /* This smaller box containing only the promotion pieces is also a flex box so the pieces can be
     * shown in rows */
    flex-wrap: wrap;
}

.promotion-piece {
    padding: 0;

    /* Take up 50% of the width of the box so we get two rows, but leave a little space for the gap
     * between items */
    flex: 45%;

    /* Make sure the buttons still always remain square */
    aspect-ratio: 1;
}

.promotion-piece img {
    width: 100%;
}

/* The sidebar panels that show up on success failure etc. They should all be hidden until needed. */
.move-indicator, #puzzle-controls .bt-subpanel
{
    display: none;
}

#white-to-move, #black-to-move, #white-to-move-computer, #black-to-move-computer, #puzzle-info {
    text-align: center;
}

.to-move-piece {
    width: 100px;
}

#card-details .stats {
    margin: 0 auto;
    max-width: 80%;
}

#card-details .stats > caption {
    font-size: 20pt;
    margin-bottom: 0.5rem;
}

#card-details .stats > tbody > tr > th {
    padding-right: 1rem;
    text-align: left;
}

#card-details .stats > tbody > tr > td {
    text-align: center;
}

#puzzle-controls {
    flex-grow: 10;
    text-align: center;
}

#puzzle-controls .button-container {
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#puzzle-controls .button-container:last-of-type {
    margin-bottom: 1rem;
}

#puzzle-controls .button-container > div {
    display: flex;
    justify-content: space-around;
}

#puzzle-controls .button-container > div > button {
    display: initial;
    height: initial;
    flex-grow: 1;
    max-width: 90%;
}

#puzzle-controls button > .main-text {
    font-weight: bold;
}

#puzzle-controls button > .sub-text {
    font-size: 0.8em;
}

#puzzle-controls button#try-again {
    background: #624344;
}

#puzzle-controls button#again {
    background: #434b62;
}

#puzzle-controls button#hard {
    background: #b7881a;
}

#puzzle-controls button#good {
    background: #2e680d;
}

#puzzle-controls button#easy {
    background: #269326;
}
