{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div id="about" class="column bt-panel">
        <h2 class="title is-2">
            About
        </h2>
        <p>
            Better Tactics is a Chess tactics trainer that uses the concept of
            <a href="https://en.wikipedia.org/wiki/Spaced_repetition">Spaced Repetition</a>
            to help you master chess tactics. The idea is to help you gain calculation experience
            and tactical pattern recognition by repeating puzzles over time. Puzzles you've seen
            will get queued up for review daily, and Puzzles you find hard will be repeated more
            frequently, while puzzles you find easy will be repeated far less often to make the
            process more efficient.
        </p>
        <br>

        <h3 class="title is-3">
            How to use
        </h3>
        <p>
            To begin, start by practicing some new tactics puzzles on the
            <a href="/tactics/new">Practice</a> page. There, a new puzzle of an appropriate
            difficulty will be picked, and you'll be given the chance to study the puzzle and then
            identify and input the forcing line which results in checkmate, wins you material, or
            gains you some other advantage. After you've played some puzzles, you'll have daily
            reviews, which you can do on the <a href="/tactics">Review</a> page.
        </p>
        <p>
            When you complete a puzzle, you'll be given the option to score it by how difficult
            you found it. The Spaced Repetition algorithm will then queue up the puzzle to be shown
            again to you in the future, depending on the score you picked.
        </p>
        <p>
            If you get really stuck on a puzzle, you can click the 'Analyse' link next to the puzzle
            to be be taken to the Analysis Board on <a href="https://lichess.org">lichess.org</a>,
            where you can analyse the puzzle using an engine to try and figure out what you're
            missing.
        </p>
        <br>

        <h3 class="title is-3">
            How it works
        </h3>
        <p>
            When you complete a puzzle, the difficulty score you select will be used to calculate
            how long it should be until you see the puzzle again, and also to update your rating.
            The scores are interpreted as follows:
        </p>
        <ul>
            <li>
                'Again' means that you failed to solve the puzzle on the first and need to review
                it again in the near future, in which case the Spaced Repetition algorithm will
                set the puzzle to be 're-learned', and you'll see it again the same day.
            </li>
            <li>
                'Hard' meaning that you found the solution but that it was quite challenging, in
                which case you'll see the puzzle again in about the same amount of time since you
                last saw it.
            </li>
            <li>
                'Good' is the neutral answer, and the one that should be used primarily. After
                picking it the puzzle's review interval will be increased, and you'll see it less
                and less frequently over time.
            </li>
            <li>
                'Easy' indicates you didn't find the puzzle very challenging at all, and is a good
                hint to the algorithm that you don't need to see it again very soon at all, and
                will cause its review interval to increase significantly.
            </li>
        </ul>
        <p>
            The review button for each difficulty shows you the amount of time until you'll see
            that puzzle again if you pick that difficulty.
        </p>
        <p>
            The difficulty you select is also used to calculate you a rating, according to the
            difficulty level of the puzzle, and how difficult you found it. 'Good' reviews will
            cause your rating to grow slowly over time, while 'Again' or 'Easy' reviews may cause
            larger swings in your rating. Initially, the algorithm will be very uncertain about
            your rating, and you may experience large swings, but this allows it to quickly find
            the right rating level for you as it becomes more and more accurate with each puzzle
            you complete.
        </p>
        <br>

        <h3 class="title is-3">
            Acknowledgements
        </h3>
        <p>
        <p>
            Better Tactics was made by <a href="https://cat.bio/">Caitlin Wilks</a> using
            <a href="https://www.rust-lang.org/">Rust</a>,
            <a href="https://github.com/seanmonstar/warp">warp</a>, and
            <a href="https://github.com/djc/askama">askama</a>. The Spaced Repetition
            algorithm used is the
            <a href="https://super-memory.com/english/ol/sm2.htm">SuperMemo 2 Algorithm</a>.
        </p>
        <p>
            The puzzles are sourced from
            <a href="https://database.lichess.org/#puzzles">lichess puzzles database</a>,
            which is amazing. Thanks, Thibault and the lichess community!
        </p>
        <p>
            The chess board is also lichess's open source
            <a href="https://github.com/lichess-org/chessground">chessground</a> chess board
            component, and the legal move detection and uses
            <a href="https://github.com/jhlywa/chess.js">chess.js</a>.
        </p>
    </div>
</div>
{% endblock %}
