{% extends "base.html" %}

{% block content %}
<div class="columns" id="stats-columns">
    <!-- The stats panel -->
    <div id="stats-panel" class="column bt-panel stats-panel">
        <h2 class="title is-3">Stats</h2>
        <table class="stats">
            <tbody>
                <tr>
                    <th scope="row">User rating</th>
                    <td>
                        {{ user_rating.rating }}
                        {% if user_rating.deviation > 100 %}
                            (+-{{ user_rating.deviation }})
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Unique puzzles done</th>
                    <td>{{ stats.card_count }}</td>
                </tr>
                <tr>
                    <th scope="row">Puzzle completions</th>
                    <td>{{ stats.review_count }}</td>
                </tr>
                <tr>
                    <th scope="row">Reviews due</th>
                    <td>{{ stats.reviews_due_now }}</td>
                </tr>
                <tr>
                    <th scope="row">Reviews left today</th>
                    <td>{{ stats.reviews_due_today }}</td>
                </tr>
                <tr>
                    <th scope="row">Next review due</th>
                    <td>{{ util::maybe_review_timestamp_to_human(stats.next_review_due) }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/tactics" class="button">Review</a>
        <a href="/tactics/new" class="button">New Puzzle</a>
    </div>

    <!-- The review forecast -->
    <div id="review-graph-container" class="column bt-panel chart-panel stats-panel">
        <h2 class="title is-3">Review forecast</h2>
        <div class="chart-container">
            <canvas id="review-graph"></canvas>
        </div>
    </div>

    <!-- Rating over time -->
    <div id="rating-graph-container" class="column bt-panel chart-panel stats-panel">
        <h2 class="title is-3">Rating history</h2>
        <div class="chart-container">
            <canvas id="rating-graph"></canvas>
        </div>
    </div>

    <!-- Review score histogram -->
    <div id="review-score-graph-container" class="column bt-panel chart-panel stats-panel">
        <h2 class="title is-3">Review scores</h2>
        <div class="chart-container">
            <canvas id="review-score-graph"></canvas>
        </div>
    </div>
</div>

<div>
    <p style="margin-top: 1rem; text-align: center;">
        Don't know what's going on? See <a href="/about">About</a>.
    </p>
</div>

<script type="module">
    // Set default text color for charts.js.
    Chart.defaults.color = "rgb(221, 211, 211)";

    new Chart(document.getElementById("review-graph"), {
        type: 'bar',
        data: {
            labels: [...Array({{ self.review_forecast.len() }}).keys()].map(v => `${v}d`),
            datasets: [
                {
                    label: "Reviews due",
                    backgroundColor: "#416c86",
                    data: {{ self.review_forecast() }}
                }
            ]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: { display: false },
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: "Days from now"
                    }
                },
                y: {
                    min: 0,
                    suggestedMax: 25,
                    title: {
                        display: true,
                        text: "Reviews due",
                    },
                    ticks: {
                        precision: 0,
                    }
                }
            }
        }
    });

    // Rating graph.
    let rating_history = {{ self.rating_history_json()|safe }};
    new Chart(document.getElementById("rating-graph"), {
        type: 'line',
        data: {
            datasets: [{
                label: "All themes",
                data: rating_history.map(o => { return { x: o.date, y: o.rating } }),
                pointStyle: false,
                tension: 0.01,
                borderColor: "#416c86",
            }],
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: { display: false },
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                           'day': 'MMM DD',
                        },
                    }
                },
                y: {
                    suggestedMax: 1000,
                    title: {
                        display: true,
                        text: "Overall rating",
                    },
                    ticks: {
                        precision: 0,
                    },
                }
            }
        }
    });

    // Review score histogram.
    function review_histogram_label(record) {
        return `${record.puzzle_rating_min}-${record.puzzle_rating_max}`;
    }

    let review_histogram_raw = {{ self.review_histogram_json()|safe }};

    let again_dataset = review_histogram_raw.filter(v => v.difficulty == 0);
    let hard_dataset = review_histogram_raw.filter(v => v.difficulty == 1);
    let good_dataset = review_histogram_raw.filter(v => v.difficulty == 2);
    let easy_dataset = review_histogram_raw.filter(v => v.difficulty == 3);

    let review_histogram_labels = new Set(review_histogram_raw.map(review_histogram_label));

    document.review_histogram_raw = review_histogram_raw;
    const review_histogram_data = {
        datasets: [
            {
                label: 'Again',
                backgroundColor: "#416c86",
                data: again_dataset.map(v => v.review_count),
                labels: again_dataset.map(review_histogram_label),
            },
            {
                label: 'Hard',
                backgroundColor: '#B7881A',
                data: hard_dataset.map(v => v.review_count),
                labels: hard_dataset.map(review_histogram_label),
            },
            {
                label: 'Good',
                backgroundColor: '#2E680D',
                data: good_dataset.map(v => v.review_count),
                labels: good_dataset.map(review_histogram_label),
            },
            {
                label: 'Easy',
                backgroundColor: '#269326',
                data: easy_dataset.map(v => v.review_count),
                labels: easy_dataset.map(review_histogram_label),
            },
        ],
        labels: [...review_histogram_labels],
    };
    new Chart(document.getElementById("review-score-graph"), {
        type: 'bar',
        data: review_histogram_data,
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: { display: true },
            },
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                        text: "Puzzle rating",
                    },
                },
                y: {
                    stacked: true,
                    suggestedMax: 10,
                    title: {
                        display: true,
                        text: "Number of reviews",
                    },
                    ticks: {
                        precision: 0,
                    },
                }
            }
        }
    });
</script>
{% endblock %}
