{% extends "base.html" %}

{% block content %}

<div class="columns">
    <div class="column is-two-thirds bt-panel" id="board-container">
        <div class="chessground" id="board"></div>
    </div>
    <div class="column sidebar">
        <div id="puzzle-info" class="bt-panel">
            <p>Lichess puzzle {{ puzzle.puzzle_id }}</p>
            <p>Rating: {{ puzzle.rating }}</p>
        </div>
        <div id="puzzle-info" class="bt-panel sidebar-fill">
            <p>other stuff goes here, you win etc</p>
        </div>
    </div>
</div>

<script type="module">
    import { Puzzle } from '/assets/better-tactics.js';

    const container = document.getElementById("board");

    const puzzle_id = "{{ puzzle.puzzle_id }}";
    const fen = "{{ puzzle.fen }}";
    const moves = "{{ puzzle.moves }}";
    const rating = {{ puzzle.rating }};

    function on_success() {
        console.log("You win! :)");
    }

    function on_failure() {
        console.log("You lose :(");
    }

    document.puzzle = new Puzzle(container, puzzle_id, fen, moves, rating, on_success, on_failure);
</script>
{% endblock %}
